<!DOCTYPE html>
<html>
<head>
  <title>Mc</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header id="header">

	<nav id="main-navigation">
		<%= link_to "All Statuses", statuses_path %>
		
		<% if user_signed_in? %>
		<%= link_to current_user.first_name, "#" %>
		<%= link_to "Logout", destroy_user_session_path, method: :delete %>
		
		<% else %>
		
			<%= link_to "Sign Up", new_user_registration_path %>
			<%= link_to "Login", new_user_session_path %>
		
		<% end %>
		
		
	</nav>

</header>

 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
